/***************************************************************************************************************
||||||||||||||||||||||||||||            MASTER STYLESHEET FOR Opins         ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
||||||||||||||||||||||||||||              TABLE OF CONTENT                  ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************
* 1.imported styles
* 2.misclenious styles
* 3.header styles
* 4.banner styles
* 5.footer styles
* 6.subscribe styles
* 7.blog styles
* 8.faq styles
* 9.brand styles
* 10.testimonials styles
* 11.pricing styles
* 12.features styles
* 13.services styles
* 14.fun fact styles
* 15.inner banner styles
* 16.sidebar styles
****************************************************************************************************************
||||||||||||||||||||||||||||            End TABLE OF CONTENT                ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/
/*
* 1.imported styles
*/
/* @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900"); */
@import url("bootstrap.min.css");
@import url("animate.css");
@import url("owl.carousel.css");
@import url("owl.theme.default.min.css");
@import url("font-awesome.min.css");
@import url("jquery.bxslider.min.css");
@import url("../plugins/opins-icon/style.css");
/*
* 2.misclenious styles
*/
body {
  font-family: 'Futura Md BT', sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #777b92; }

a:active,
a:hover,
a:focus,
a:visited {
  text-decoration: none; }

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }
hr.style-one {
  margin: 0;
  border-top: 1px solid #EAEAEA; }

.block-title {
  margin-bottom: 50px; }
  .block-title h2 {
    margin: 0;
    color: #273167;
    font-size: 46px;
    margin-top: 50px;
    font-weight: 400; }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
  background-image: url(../images/preloader.gif);
  background-repeat: no-repeat;
  background-position: center center; }

.scroll-to-top {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: #00BFFF;
  border-radius: 4px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  text-align: center;
  transition: all .4s ease;
  display: none; }
  .scroll-to-top i {
    font-size: 18px;
    line-height: 45px;
    color: #fff; }
  .scroll-to-top:hover {
    background: #273167; }

/*
* 3.header styles
*/
.header-navigation {
  background-color: transparent;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  padding: 0;
  position: relative;
  background-color: transparent; }
  .header-navigation .container {
    background: transparent;
    position: relative;
    display: block; }
    .header-navigation .container .logo-box {
      float: left;
      position: absolute;
      top: 50%;
      left: 15px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .header-navigation .container .navbar-brand {
      height: auto;
      margin: 0; }
    .header-navigation .container .menu-toggler {
      display: none; }
    .header-navigation .container .right-side-box {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 15px; }
  .header-navigation .main-navigation {
    float: right;
    text-align: right; }
    @media (min-width: 1200px) {
      .header-navigation .main-navigation {
        display: block !important; } }

.header-navigation ul.navigation-box {
  margin: 0;
  padding: 0;
  list-style: none; }
  .header-navigation ul.navigation-box li a .sub-nav-toggler {
    display: none; }
  .header-navigation ul.navigation-box > li {
    position: relative;
    padding: 0px 0;
    display: inline-block;
    vertical-align: middle;
    /* Second Level Menu */
    /* Thrid Level Menu */ }
    .header-navigation ul.navigation-box > li + li {
      margin-left: 45px; }
    .header-navigation ul.navigation-box > li:first-child {
      padding-left: 0; }
    .header-navigation ul.navigation-box > li:last-child {
      padding-right: 0; }
    .header-navigation ul.navigation-box > li > a {
      font-weight: 500;
      font-size: 16px;
      color: #777B92;
      padding: 0;
      transition: all .4s ease;
      position: relative; }
      .header-navigation ul.navigation-box > li > a:before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        transform: scale(0, 1);
        transform-origin: right center;
        width: 100%;
        height: 2px;
        background-color: #E94FCA;
        transition: transform .4s ease; }
    .header-navigation ul.navigation-box > li.current > a, .header-navigation ul.navigation-box > li:hover > a {
      color: #E94FCA; }
      .header-navigation ul.navigation-box > li.current > a:before, .header-navigation ul.navigation-box > li:hover > a:before {
        transform: scale(1, 1);
        transform-origin: left center; }
    .header-navigation ul.navigation-box > li > .sub-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      float: left;
      min-width: 220px;
      padding: 0px 0px;
      text-align: left;
      list-style: none;
      background-color: #273167;
      background-clip: padding-box;
      opacity: 0;
      border-radius: 0px;
      visibility: hidden;
      transition: opacity .4s ease, visibility .4s ease;
      box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.1); }
      @media (min-width: 1200px) {
        .header-navigation ul.navigation-box > li > .sub-menu {
          display: block !important; } }
      .header-navigation ul.navigation-box > li > .sub-menu.right-align {
        left: auto;
        right: 0; }
      .header-navigation ul.navigation-box > li > .sub-menu.center-align {
        left: 50%;
        transform: translateX(-50%); }
      .header-navigation ul.navigation-box > li > .sub-menu > li {
        display: block;
        position: relative;
        transition: all .4s ease; }
        .header-navigation ul.navigation-box > li > .sub-menu > li + li {
          border-top: 1px solid rgba(255, 255, 255, 0.1); }
        .header-navigation ul.navigation-box > li > .sub-menu > li > a {
          font-size: 15px;
          color: #fff;
          font-weight: 500;
          padding: 12px 30px;
          display: block;
          line-height: 26px;
          white-space: nowrap;
          position: relative;
          transition: all .4s ease; }
        .header-navigation ul.navigation-box > li > .sub-menu > li:hover > a {
          color: #273167;
          background: #fff; }
    .header-navigation ul.navigation-box > li:hover:before {
      transform: scale(1, 1);
      transform-origin: left bottom; }
    .header-navigation ul.navigation-box > li:hover > .sub-menu {
      opacity: 1;
      visibility: visible; }
    .header-navigation ul.navigation-box > li > ul > li {
      /* no more nested showen */ }
      .header-navigation ul.navigation-box > li > ul > li > .sub-menu {
        position: absolute;
        top: 0%;
        left: 100%;
        z-index: 1000;
        float: left;
        min-width: 220px;
        padding: 0px 0px;
        text-align: left;
        list-style: none;
        background-color: #273167;
        background-clip: padding-box;
        opacity: 0;
        border-radius: 0px;
        visibility: hidden;
        transition: opacity .4s ease, visibility .4s ease;
        box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.1); }
        @media (min-width: 1200px) {
          .header-navigation ul.navigation-box > li > ul > li > .sub-menu {
            display: block !important; } }
        .header-navigation ul.navigation-box > li > ul > li > .sub-menu.right-align {
          left: auto;
          right: 100%; }
        .header-navigation ul.navigation-box > li > ul > li > .sub-menu.center-align {
          left: 50%;
          transform: translateX(-50%); }
        .header-navigation ul.navigation-box > li > ul > li > .sub-menu > li {
          display: block;
          position: relative;
          transition: all .4s ease; }
          .header-navigation ul.navigation-box > li > ul > li > .sub-menu > li + li {
            border-top: 1px solid rgba(255, 255, 255, 0.1); }
          .header-navigation ul.navigation-box > li > ul > li > .sub-menu > li > a {
            font-size: 15px;
            color: #fff;
            font-weight: 500;
            padding: 12px 30px;
            display: block;
            line-height: 26px;
            white-space: nowrap;
            position: relative;
            transition: all .4s ease; }
          .header-navigation ul.navigation-box > li > ul > li > .sub-menu > li:hover > a {
            color: #273167;
            background: #fff; }
      .header-navigation ul.navigation-box > li > ul > li:hover > .sub-menu {
        opacity: 1;
        visibility: visible; }
      .header-navigation ul.navigation-box > li > ul > li ul {
        display: none; }

.header-navigation.stricky-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
   height: 100px;
  z-index: 991;
  background: #fff;
  border-bottom: 0; }

.site-header.header-one {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  z-index: 99; }
  .site-header.header-one .header-navigation {
    background: transparent; }
    .site-header.header-one .header-navigation.stricky-fixed {
      background-color: #fff;
      box-shadow: 0px 5px 30px 0px rgba(233, 79, 202, 0.05); }
    .site-header.header-one .header-navigation .container {
      padding-right: 185px; }
    .site-header.header-one .header-navigation ul.navigation-box > li.current > a,
    .site-header.header-one .header-navigation ul.navigation-box > li:hover > a {
      color: #E94FCA; }
    .site-header.header-one .header-navigation ul.navigation-box > li {
      padding: 45px 0; }
    .site-header.header-one .header-navigation ul.navigation-box > li + li {
      margin-left: 56px; }
    .site-header.header-one .header-navigation .right-side-box .header-btn {
      display: inline-block;
      vertical-align: middle;
      border-style: solid;
      border-width: 1px;
      border-color: #ffd6f3;
      border-radius: 4px;
      background-color: white;
      box-shadow: 0px 15px 30px 0px rgba(233, 79, 202, 0.1);
      color: #E94FCA;
      font-size: 16px;
      font-weight: 500;
      padding: 11px 38px;
      transition: all .4s ease; }
      .site-header.header-one .header-navigation .right-side-box .header-btn:hover {
        color: #fff;
        background-color: #E94FCA;
        border-color: #E94FCA; }
    .site-header.header-one .header-navigation.stricky-fixed ul.navigation-box > li {
      padding: 25px 0; }

.site-header.home-page-two .header-navigation.stricky-fixed {
  background-image: linear-gradient(-145deg, #320b82 0%, #9c33c3 100%);
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.15); }
.site-header.home-page-two .header-navigation ul.navigation-box > li > a {
  color: #D6C9E4; }
.site-header.home-page-two .header-navigation ul.navigation-box > li.current > a,
.site-header.home-page-two .header-navigation ul.navigation-box > li:hover > a {
  color: #fff; }
.site-header.home-page-two .header-navigation .right-side-box .header-btn {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
  transition: all .4s ease; }
  .site-header.home-page-two .header-navigation .right-side-box .header-btn:hover {
    color: #fff;
    background-color: #E94FCA;
    border-color: #E94FCA; }

/*
* 4.banner styles mei edited
*/
.banner-style-one {
  position: relative;
  padding-top: 110px;
  padding-bottom: 100px;
  background: #fff url(../images/banner-bg-1-1.png) top right no-repeat; }
  .banner-style-one:after, .banner-style-one:before {
    content: '';
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 43px solid;
    position: absolute;
    animation: BannercircleRotate 5s ease-in-out 0s infinite alternate; }
@keyframes BannercircleRotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1; }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: .5; } }
  .banner-style-one:after {
    border-color: #e8f3f7;
    bottom: 15%;
    right: 12%; }
  .banner-style-one:before {
    border-color: #F3FAFF;
    top: 11%;
    left: 10%; }

  .banner-style-one .banner-mock {
    position: absolute;
    top: -5%;
    right: 15%;
    animation: bannerImgBounce 20s ease-in-out 0s infinite alternate; }
@keyframes bannerImgBounce {
  0% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0); }
  100% {
    -webkit-transform: translateY(-20px) translateX(-20px);
    transform: translateY(-20px) translateX(-20px); } }
  .banner-style-one [class*=bubble-] {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: absolute;
    background-color: #ede8ff;
    border: 1px solid #a98fff;
    animation-name: bubbleMover;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    perspective: 100px; }
@keyframes bubbleMover {
  0% {
    transform: translateY(0px) translateX(0) rotate(0); }
  30% {
    transform: translateY(30px) translateX(50px) rotate(15deg);
    transform-origin: center center; }
  50% {
    transform: translateY(50px) translateX(100px) rotate(45deg);
    transform-origin: right bottom; }
  80% {
    transform: translateY(30px) translateX(50px) rotate(15deg);
    transform-origin: left top; }
  100% {
    transform: translateY(0px) translateX(0) rotate(0);
    transform-origin: center center; } }
  .banner-style-one .bubble-1 {
    background-color: #fff7e0;
    border-color: #ffdd83;
    top: 10px;
    left: 20px; }
  .banner-style-one .bubble-2 {
    background-color: #fff1ec;
    border-color: #ffb59d;
    bottom: 30px;
    left: 10%; }
  .banner-style-one .bubble-3 {
    background-color: #ebf3ff;
    border-color: #b9d4ff;
    top: 40px;
    left: 40%; }
  .banner-style-one .bubble-4 {
    background-color: #ddffe4;
    border-color: #93ff6d;
    top: 10px;
    right: 40%; }
  .banner-style-one .bubble-5 {
    background-color: #ede8ff;
    border-color: #a98fff;
    bottom: 30px;
    right: 25%; }
  .banner-style-one .bubble-6 {
    background-color: #ffe8fb;
    border-color: #ffa6ef;
    top: 40%;
    right: 10%; }
  .banner-style-one .content-block {
    position: relative;
    z-index: 10; }
    .banner-style-one .content-block h3,
    .banner-style-one .content-block p {
      margin: 0; }
    .banner-style-one .content-block h3 {
      font-family: 'Futura Md BT', sans-serif;
      color: #666666;
      font-size: 60px;
      line-height: 70px;
      font-weight: 500;
      margin-bottom: 0px; }
    .banner-style-one .content-block p {
      color: #777B92;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 20px; }
    .banner-style-one .content-block .banner-btn {
      display: inline-block;
      border-style: solid;
      border-width: 0px;
      border-top: 10px solid ;
      border-color: #a8e8ff;
      border-radius: 4px;
      box-shadow: 0px 15px 30px 0px rgba(52, 152, 219, 0.2);
      vertical-align: middle;
      color: #777B92;
      font-weight: 500;
      font-size: 14px;
      line-height: 1em;
      padding: 22.5px 0;
      padding-left: 63px;
      padding-right: 53px;
          background-color: #fff;
      position: relative;
      width: 250px;
     
      transition: all .4s ease; }
      .banner-style-one .content-block .banner-btn span {
        font-size: 18px;
        display: block;
        line-height: 1em;
        margin-top: 5px; }
      .banner-style-one .content-block .banner-btn i {
        font-size: 30px;
        color: #777B92;
        position: absolute;
        top: 50%;
        left: 40px;
        transform: translateY(-50%);
        transition: all .4s ease; }
      .banner-style-one .content-block .banner-btn + .banner-btn {
        margin-left: 16px; }
      .banner-style-one .content-block .banner-btn:hover {
        color: #fff;
        background-color: #4fa3e9;
        border-color: #4fa3e9; }
        .banner-style-one .content-block .banner-btn:hover i {
          color: #fff; }
  .banner-style-one.home-page-two {
    padding-bottom: 277px;
    background: #fff url(../images/banner-bg-1-2.png) top right no-repeat;
    background-size: cover;
    margin-bottom: 60px; }
    .banner-style-one.home-page-two:before {
      border-color: rgba(255, 255, 255, 0.04); }
    .banner-style-one.home-page-two:after {
      border-color: rgba(255, 255, 255, 0.02); }
    .banner-style-one.home-page-two [class*=bubble-] {
      background-color: transparent !important;
      border-width: 2px; }
    .banner-style-one.home-page-two .banner-mock {
      right: 0;
      top: 20%; }
    .banner-style-one.home-page-two .content-block h3 {
      color: #fff; }
    .banner-style-one.home-page-two .content-block p {
      color: #D6C9E4; }
    .banner-style-one.home-page-two .content-block .banner-btn {
      color: #fff;
      border-style: solid;
      border-width: 1px;
      border-color: white;
      border-radius: 3px;
      background-color: transparent;
      box-shadow: 0px 15px 30px 0px rgba(255, 255, 255, 0.1); }
      .banner-style-one.home-page-two .content-block .banner-btn i {
        color: #fff; }
      .banner-style-one.home-page-two .content-block .banner-btn:hover {
        background-color: #E94FCA;
        border-color: #E94FCA; }

/*
* 5.footer styles
*/
.site-footer {
  position: relative; }
  .site-footer [class*=bubble-] {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: absolute;
    background-color: #ede8ff;
    border: 1px solid #a98fff;
    animation-name: bubbleMover;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    perspective: 100px; }
@keyframes bubbleMover {
  0% {
    transform: translateY(0px) translateX(0) rotate(0); }
  30% {
    transform: translateY(30px) translateX(50px) rotate(15deg);
    transform-origin: center center; }
  50% {
    transform: translateY(50px) translateX(100px) rotate(45deg);
    transform-origin: right bottom; }
  80% {
    transform: translateY(30px) translateX(50px) rotate(15deg);
    transform-origin: left top; }
  100% {
    transform: translateY(0px) translateX(0) rotate(0);
    transform-origin: center center; } }
  .site-footer .bubble-1 {
    background-color: #fff7e0;
    border-color: #ffdd83;
    top: 10px;
    left: 20px; }
  .site-footer .bubble-2 {
    background-color: #fff1ec;
    border-color: #ffb59d;
    bottom: 30px;
    left: 10%; }
  .site-footer .bubble-3 {
    background-color: #ebf3ff;
    border-color: #b9d4ff;
    top: 40px;
    left: 40%; }
  .site-footer .bubble-4 {
    background-color: #ddffe4;
    border-color: #93ff6d;
    top: 10px;
    right: 40%; }
  .site-footer .bubble-5 {
    background-color: #ede8ff;
    border-color: #a98fff;
    bottom: 30px;
    right: 25%; }
  .site-footer .bubble-6 {
    background-color: #ffe8fb;
    border-color: #ffa6ef;
    top: 40%;
    right: 10%; }
  .site-footer .inner-container {
    border: 1px solid #eaeaea;
    border-left: 0;
    border-right: 0;
    padding: 86px 0; }

.footer-widget ul,
.footer-widget h3,
.footer-widget p {
  margin: 0;
  padding: 0;
  list-style: none; }
.footer-widget .widget-title {
  margin-bottom: 28px; }
  .footer-widget .widget-title h3 {
    color: #273167;
    font-size: 20px;
    font-weight: 500; }
.footer-widget ul.contact-list li {
  color: #777b92; }
  .footer-widget ul.contact-list li + li {
    margin-top: 9px; }
.footer-widget ul.links-list li + li {
  margin-top: 10px; }
.footer-widget ul.links-list li a {
  color: #777b92;
  font-size: 16px;
  display: inline-block;
  position: relative;
  transition: all .4s ease; }
  .footer-widget ul.links-list li a:before {
    content: '\f101';
    font-family: 'Futura Md BT', sans-serif;
    color: #e94fca;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-15px);
    opacity: 0;
    transition: all .4s ease; }
  .footer-widget ul.links-list li a:hover {
    color: #e94fca;
    transform: translateX(20px); }
    .footer-widget ul.links-list li a:hover:before {
      opacity: 1; }
.footer-widget .social-block a {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border: 1px solid #eaeaea;
  line-height: 80px;
  text-align: center;
  background-color: #fff;
  color: #777b92;
  border-radius: 50%;
  box-shadow: 0px 15px 30px 0px rgba(119, 123, 146, 0.1);
  transition: all .4s ease; }
  .footer-widget .social-block a:hover {
    color: #fff;
    background-color: #e94fca;
    border-color: #e94fca; }

.bottom-footer {
  padding: 25px 0; }
  .bottom-footer p {
    color: #777b92;
    font-size: 16px; }
    .bottom-footer p a {
      color: #e94fca; }

/*
* 6.subscribe styles
*/
.subscribe-style-one {
  padding-top: 110px;
  padding-bottom: 120px; }
  .subscribe-style-one h3 {
    margin: 0;
    color: #999999;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 60px; }
  .subscribe-style-one .subscribe-form {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px; }
    .subscribe-style-one .subscribe-form input {
      border: none;
      outline: none;
      display: block;
      width: 100%;
      max-width: 470px;
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      border-color: #eaeaea;
      height: 84px;
      font-size: 16px;
      padding-left: 30px; }
      .subscribe-style-one .subscribe-form input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #777B92; }
      .subscribe-style-one .subscribe-form input::-moz-placeholder {
        /* Firefox 19+ */
        color: #777B92; }
      .subscribe-style-one .subscribe-form input:-ms-input-placeholder {
        /* IE 10+ */
        color: #777B92; }
      .subscribe-style-one .subscribe-form input:-moz-placeholder {
        /* Firefox 18- */
        color: #777B92; }
      .subscribe-style-one .subscribe-form input.error {
        border: 1px solid red;
        background-color: rgba(255, 0, 0, 0.5); }
    .subscribe-style-one .subscribe-form button[type=submit] {
      width: 208px;
      border-radius: 4px;
      margin-left: 20px;
      height: 84px;
      border: none;
      outline: none;
      background-color: #E94FCA;
      cursor: pointer;
      font-weight: 500;
      font-size: 20px;
      color: #FFFFFF;
      transition: all .4s ease; }
      .subscribe-style-one .subscribe-form button[type=submit]:hover {
        background-color: #273167; }
    .subscribe-style-one .subscribe-form label.error {
      display: none !important; }
  .subscribe-style-one .result {
    text-align: center;
    font-size: 16px;
    background-color: rgba(0, 128, 0, 0.5);
    width: 80%;
    color: #fff;
    margin-left: auto;
    margin-right: auto; }

/*
* 7.blog styles
*/
.blog-style-one {
  background-color: #f7fbff;
  padding-top: 120px;
  padding-bottom: 50px; }
  .blog-style-one.blog-page {
    background-color: #fff;
    padding-bottom: 120px; }

.single-blog-style-one {
  margin-bottom: 60px; }
  .single-blog-style-one .image-block {
    border-radius: 4px;
    background-color: #273167;
    box-shadow: 0px 15px 30px 0px rgba(39, 49, 103, 0.1); }
    .single-blog-style-one .image-block .inner-block {
      overflow: hidden;
      position: relative;
      border-radius: 4px; }
      .single-blog-style-one .image-block .inner-block > img {
        width: 100%;
        transition: all .4s ease; }
      .single-blog-style-one .image-block .inner-block .date-block {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #E94FCA;
        border-radius: 4px 0;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        padding: 3px 20px;
        z-index: 12; }
      .single-blog-style-one .image-block .inner-block:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #273167;
        opacity: 0;
        z-index: 11;
        transition: all .4s ease; }
    .single-blog-style-one .image-block:hover {
      cursor: pointer; }
      .single-blog-style-one .image-block:hover .inner-block > img {
        transform: scale(1.05); }
      .single-blog-style-one .image-block:hover .inner-block:before {
        opacity: .5; }
  .single-blog-style-one .text-block .meta-info {
    margin-top: 20px; }
    .single-blog-style-one .text-block .meta-info a,
    .single-blog-style-one .text-block .meta-info span {
      text-transform: uppercase;
      font-size: 14px;
      color: #E94FCA;
      font-weight: 500;
      letter-spacing: .1em;
      transition: all .4s ease; }
    .single-blog-style-one .text-block .meta-info span.sep {
      margin-left: 16px;
      margin-right: 16px; }
    .single-blog-style-one .text-block .meta-info a:hover {
      color: #273167; }
  .single-blog-style-one .text-block h3,
  .single-blog-style-one .text-block p {
    margin: 0; }
  .single-blog-style-one .text-block h3 {
    font-size: 26px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 26px; }
    .single-blog-style-one .text-block h3 a {
      color: #273167;
      transition: all .4s ease; }
      .single-blog-style-one .text-block h3 a:hover {
        color: #E94FCA; }
  .single-blog-style-one .text-block .line-block {
    vertical-align: middle;
    background-color: #e94fca;
    width: 41px;
    height: 2px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all .4s ease; }
  .single-blog-style-one .text-block a.more-link {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    color: #273167;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 1em;
    transition: all .4s ease; }
    .single-blog-style-one .text-block a.more-link:hover {
      color: #E94FCA; }
  .single-blog-style-one .text-block:hover .line-block {
    width: 60px; }

.blog-post-pagination {
  margin-top: 0px; }
  .blog-post-pagination a {
    display: inline-block;
    vertical-align: middle;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #EBF3FF;
    line-height: 52px;
    text-align: center;
    font-size: 18px;
    color: #273167;
    transition: all .4s ease; }
    .blog-post-pagination a.prev, .blog-post-pagination a.next {
      background: #273167;
      color: #fff;
      font-size: 14px; }
    .blog-post-pagination a.active {
      cursor: auto; }
    .blog-post-pagination a.active, .blog-post-pagination a:hover {
      background: #E94FCA;
      color: #fff; }
    .blog-post-pagination a + a {
      margin-left: 10px; }

.blog-details-page {
  padding: 120px 0; }
  .blog-details-page .single-blog-style-one {
    margin-bottom: 0; }
    .blog-details-page .single-blog-style-one .text-block {
      margin-top: 20px; }
      .blog-details-page .single-blog-style-one .text-block .meta-info {
        margin: 0; }
      .blog-details-page .single-blog-style-one .text-block .post-title {
        margin: 0;
        color: #273167;
        font-size: 26px;
        font-weight: 400;
        margin-bottom: 25px; }
      .blog-details-page .single-blog-style-one .text-block p {
        margin: 0; }
        .blog-details-page .single-blog-style-one .text-block p + p {
          margin-top: 45px; }
  .blog-details-page .share-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #EAEAEA;
    padding-top: 40px;
    margin-top: 50px; }
    .blog-details-page .share-block .left-block p {
      margin: 0;
      color: #273167;
      font-size: 20px; }
      .blog-details-page .share-block .left-block p a {
        color: #777B92;
        font-size: 16px;
        transition: all .4s ease;
        margin-left: 10px; }
        .blog-details-page .share-block .left-block p a:hover {
          color: #E94FCA; }
    .blog-details-page .share-block .social-block a {
      display: inline-block;
      vertical-align: middle;
      width: 51px;
      height: 51px;
      border: 1px solid #eaeaea;
      line-height: 49px;
      text-align: center;
      background-color: #fff;
      color: #777b92;
      border-radius: 50%;
      box-shadow: 0px 15px 30px 0px rgba(119, 123, 146, 0.1);
      transition: all .4s ease; }
      .blog-details-page .share-block .social-block a:hover {
        color: #fff;
        background-color: #e94fca;
        border-color: #e94fca; }
  .blog-details-page .author-block {
    display: flex;
    justify-content: space-between;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    padding: 60px;
    margin-top: 40px;
    margin-bottom: 60px; }
    .blog-details-page .author-block .text-block {
      padding-left: 40px; }
    .blog-details-page .author-block img {
      width: 169px;
      border-radius: 4px; }
    .blog-details-page .author-block h3,
    .blog-details-page .author-block p {
      margin: 0; }
    .blog-details-page .author-block h3 {
      color: #273167;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 38px; }
    .blog-details-page .author-block p {
      font-size: 16px;
      line-height: 30px; }
  .blog-details-page .title-line {
    margin-bottom: 50px; }
    .blog-details-page .title-line h3 {
      margin: 0;
      color: #273167;
      font-size: 30px;
      font-weight: 400; }
  .blog-details-page .single-comment-one {
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 60px;
    margin-bottom: 60px;
    display: flex; }
    .blog-details-page .single-comment-one .image-block .inner-block {
      width: 90px;
      overflow: hidden;
      border-radius: 50%; }
      .blog-details-page .single-comment-one .image-block .inner-block > img {
        width: 100%; }
    .blog-details-page .single-comment-one .text-block {
      padding-left: 40px; }
      .blog-details-page .single-comment-one .text-block h3,
      .blog-details-page .single-comment-one .text-block p {
        margin: 0; }
      .blog-details-page .single-comment-one .text-block h3 {
        color: #273167;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 5px; }
      .blog-details-page .single-comment-one .text-block p {
        color: #777B92;
        font-size: 16px;
        line-height: 30px;
        width: 82%; }
      .blog-details-page .single-comment-one .text-block .top-block {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px; }
      .blog-details-page .single-comment-one .text-block .date-line {
        text-transform: uppercase;
        font-size: 14px;
        color: #E94FCA;
        font-weight: 500;
        letter-spacing: .1em;
        transition: all .4s ease; }
        .blog-details-page .single-comment-one .text-block .date-line span.sep {
          margin-left: 16px;
          margin-right: 16px; }
      .blog-details-page .single-comment-one .text-block .reply-btn {
        border-style: solid;
        border-width: 1px;
        border-color: #eaeaea;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0px 15px 30px 0px rgba(119, 123, 146, 0.1);
        width: 97px;
        height: 42px;
        line-height: 40px;
        color: #777B92;
        font-size: 16px;
        font-weight: 500;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        transition: all .4s ease; }
        .blog-details-page .single-comment-one .text-block .reply-btn:hover {
          color: #fff;
          background-color: #E94FCA;
          border-color: #E94FCA; }
  .blog-details-page .comment-form input,
  .blog-details-page .comment-form textarea {
    border: none;
    outline: none;
    border: none;
    width: 100%;
    height: 84px;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 30px;
    padding-left: 40px; }
  .blog-details-page .comment-form textarea {
    height: 234px;
    padding-top: 20px; }
  .blog-details-page .comment-form button[type=submit] {
    width: 276px;
    border-radius: 4px;
    height: 84px;
    border: none;
    outline: none;
    background-color: #E94FCA;
    cursor: pointer;
    font-weight: 500;
    line-height: 84px;
    font-size: 20px;
    color: #FFFFFF;
    transition: all .4s ease; }
    .blog-details-page .comment-form button[type=submit]:hover {
      background-color: #273167; }

/*
* 8.faq styles
*/
.faq-style-one .container {
  padding-bottom: 120px; }
  @media (min-width: 1200px) {
    .faq-style-one .container {
      max-width: 920px; } }
.faq-style-one .block-title {
  padding-top: 120px; }
.faq-style-one .accrodion-grp .accrodion {
  border: 1px solid #EAEAEA;
  padding: 30.5px 40px; }
  .faq-style-one .accrodion-grp .accrodion + .accrodion {
    margin-top: 20px; }
  .faq-style-one .accrodion-grp .accrodion .accrodion-title {
    cursor: pointer; }
    .faq-style-one .accrodion-grp .accrodion .accrodion-title h4 {
      margin: 0;
      font-size: 20px;
      font-weight: 400;
      padding: 0px 0;
      padding-top: 0;
      padding-left: 0px;
      position: relative;
      color: #273167;
      transition: all .4s ease; }
      .faq-style-one .accrodion-grp .accrodion .accrodion-title h4:before {
        font-family: 'Futura Md BT', sans-serif;
        content: '\f067';
        display: inline-block;
        width: 22px;
        height: 22px;
        line-height: 22px;
        border-radius: 50%;
        text-align: center;
        font-size: 14px;
        color: #273167;
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        transition: all .4s ease; }
  .faq-style-one .accrodion-grp .accrodion .accrodion-content .inner {
    margin-top: 30px; }
    .faq-style-one .accrodion-grp .accrodion .accrodion-content .inner p {
      margin: 0;
      font-size: 16px;
      line-height: 30px;
      color: #777B92; }
  .faq-style-one .accrodion-grp .accrodion.active .accrodion-title h4 {
    color: #E94FCA; }
    .faq-style-one .accrodion-grp .accrodion.active .accrodion-title h4:before {
      content: '\f068';
      color: #E94FCA; }

/*
* 9.brand styles
*/
.brand-carousel-one {
  padding: 119.5px 0;
  padding-left: 48px;
  padding-right: 48px; }
  .brand-carousel-one .item img {
    width: auto;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    opacity: .4;
    transition: all .4s ease; }
    .brand-carousel-one .item img:hover {
      opacity: 1; }
  .brand-carousel-one .owl-dots,
  .brand-carousel-one .owl-nav {
    display: none; }

/*
* 10.testimonials styles
*/
.testimonials-style-one {
  background-color: #F2FFF8;
  padding: 120px 0;
  position: relative; }
  .testimonials-style-one .map-img {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    animation-name: mapMover;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all .4s ease;
    transform-origin: center center; }
@keyframes mapMover {
  0% {
    opacity: 0.05;
    transform: translateY(-50%) translateX(0); }
  50% {
    opacity: 0.20;
    transform: translateY(-55%) translateX(-20px); }
  100% {
    opacity: 0.05;
    transform: translateY(-50%) translateX(0); } }
  .testimonials-style-one .block-title {
    margin-bottom: 45px; }
  .testimonials-style-one .single-testi-one p {
    margin: 0;
    color: #777B92;
    font-size: 24px;
    line-height: 46px; }
  .testimonials-style-one .single-testi-one h3 {
    color: #273167;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    margin-top: 40px; }
  .testimonials-style-one .testi-carousel-one .owl-nav {
    margin: 0;
    position: absolute;
    bottom: -10px;
    right: 0;
    background-color: #F2FFF8; }
    .testimonials-style-one .testi-carousel-one .owl-nav [class*=owl-] {
      margin: 0px 5px;
      padding: 0;
      background-color: transparent;
      opacity: .3;
      color: #273167;
      font-size: 32px;
      transition: all .4s ease; }
      .testimonials-style-one .testi-carousel-one .owl-nav [class*=owl-]:hover {
        opacity: 1; }
  .testimonials-style-one .bx-wrapper {
    border: none;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 0; }
    .testimonials-style-one .bx-wrapper ul.slider {
      padding: 0;
      margin: 0; }
  .testimonials-style-one .bx-wrapper .bx-controls-direction {
    position: absolute;
    bottom: -10px;
    background-color: #F2FFF8;
    right: 0; }
  .testimonials-style-one .bx-wrapper .bx-controls-direction a {
    text-indent: 0;
    background-image: none;
    font-size: 32px;
    position: relative;
    top: 0px;
    opacity: .3;
    color: #273167;
    transition: all .4s ease; }
    .testimonials-style-one .bx-wrapper .bx-controls-direction a:hover {
      opacity: 1; }
  .testimonials-style-one .bx-wrapper .bx-prev {
    left: 0px;
    margin-right: 25px; }
  .testimonials-style-one .bx-wrapper .bx-next {
    right: 0px; }

#testimonials-slider-pager {
  width: 391px;
  height: 391px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(39, 49, 103, 0.15);
  border-radius: 50%;
  position: relative;
  animation-name: tesiMove;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: all .4s ease;
  transform-origin: center center; }
@keyframes tesiMove {
  0% {
    transform: rotate(0deg); }
  15% {
    transform: rotate(2deg); }
  33% {
    transform: rotate(4deg); }
  66% {
    transform: rotate(2deg); }
  100% {
    transform: rotate(0deg); } }
  #testimonials-slider-pager:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 174px;
    height: 174px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1); }
  #testimonials-slider-pager .testimonials-slider-pager-one .pager-item {
    width: 71px;
    height: 71px;
    display: inline-block;
    vertical-align: middle;
    position: absolute; }
    #testimonials-slider-pager .testimonials-slider-pager-one .pager-item:nth-child(1) {
      top: 55px;
      left: -10px; }
    #testimonials-slider-pager .testimonials-slider-pager-one .pager-item:nth-child(2) {
      top: 55px;
      right: -10px; }
    #testimonials-slider-pager .testimonials-slider-pager-one .pager-item:nth-child(3) {
      bottom: 55px;
      left: -10px; }
    #testimonials-slider-pager .testimonials-slider-pager-one .pager-item:nth-child(4) {
      bottom: 55px;
      right: -10px; }
    #testimonials-slider-pager .testimonials-slider-pager-one .pager-item:nth-child(5) {
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%); }
    #testimonials-slider-pager .testimonials-slider-pager-one .pager-item:nth-child(6) {
      top: -40px;
      left: 50%;
      transform: translateX(-50%); }
    #testimonials-slider-pager .testimonials-slider-pager-one .pager-item > img {
      width: 100%;
      border-radius: 50%;
      transition: all .4s ease; }
    #testimonials-slider-pager .testimonials-slider-pager-one .pager-item.active img {
      opacity: .75;
      transform: scale(0.95); }
  #testimonials-slider-pager .testimonials-slider-pager-two .pager-item {
    width: 163px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: all .4s ease; }
    #testimonials-slider-pager .testimonials-slider-pager-two .pager-item.active {
      opacity: 1;
      transform: translate(-50%, -50%) scale(0.95); }
    #testimonials-slider-pager .testimonials-slider-pager-two .pager-item > img {
      width: 100%;
      border-radius: 50%; }

/*
* 11.pricing styles
*/
.pricing-style-one {
  padding: 120px 0; }
  .pricing-style-one .tab-title {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    justify-content: center;
    font-size: 0;
    margin-bottom: 60px; }
    .pricing-style-one .tab-title li {
      display: inline-block;
      margin-bottom: 0 !important; }
      .pricing-style-one .tab-title li a {
        display: block;
        border: none;
        outline: none;
        color: #86909E;
        display: inline-block;
        padding: 14px 33.5px;
        cursor: pointer;
        color: #777B92;
        font-size: 18px;
        font-weight: 500;
        border-radius: 0 !important;
        transition: all 0.4s ease;
        border-style: solid;
        border-width: 1px;
        border-color: #eaeaea;
        background-color: #fefdfe;
        box-shadow: 0px 15px 30px 0px rgba(119, 123, 146, 0.1); }
        .pricing-style-one .tab-title li a:hover {
          border-color: #E94FCA;
          background: #E94FCA;
          color: #FFFFFF; }
        .pricing-style-one .tab-title li a.active {
          border-color: #E94FCA;
          background: #E94FCA !important;
          color: #FFFFFF !important; }
      .pricing-style-one .tab-title li:first-child a {
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important; }
      .pricing-style-one .tab-title li:last-child a {
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important; }

.single-pricing-one {
  padding: 60px 0;
  border-style: solid;
  border-width: 1px;
  border-color: #eaeaea;
  border-radius: 4px;
  background-color: white;
  text-align: center; }
  .single-pricing-one.basic-pack .price {
    color: #5DDA6C; }
  .single-pricing-one.basic-pack .line {
    background-color: #5DDA6C; }
  .single-pricing-one.basic-pack .price-btn:hover {
    background-color: #5DDA6C;
    border-color: #5DDA6C; }
  .single-pricing-one.biz-pack .price {
    color: #F0A734; }
  .single-pricing-one.biz-pack .line {
    background-color: #F0A734; }
  .single-pricing-one.biz-pack .price-btn:hover {
    background-color: #F0A734;
    border-color: #F0A734; }
  .single-pricing-one span,
  .single-pricing-one a {
    display: block; }
  .single-pricing-one ul.feature-lists {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 40px; }
    .single-pricing-one ul.feature-lists li {
      font-size: 18px;
      line-height: 1em;
      color: #777B92; }
      .single-pricing-one ul.feature-lists li + li {
        margin-top: 20px; }
  .single-pricing-one .price {
    color: #AD63F3;
    font-size: 60px;
    font-weight: 300;
    line-height: 1em; }
  .single-pricing-one .pack-name {
    font-size: 14px;
    font-weight: 500;
    color: #273167;
    letter-spacing: .1em;
    text-transform: uppercase;
    line-height: 1em;
    margin-top: 22px; }
  .single-pricing-one .line {
    background-color: #ad63f3;
    width: 40px;
    height: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px; }
  .single-pricing-one .price-btn {
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 15px 30px 0px rgba(119, 123, 146, 0.1);
    display: inline-block;
    vertical-align: middle;
    color: #777B92;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 42.5px;
    transition: all .4s ease; }
    .single-pricing-one .price-btn:hover {
      background-color: #E94FCA;
      color: #fff;
      border-color: #E94FCA; }
  .single-pricing-one .tag-line {
    font-size: 14px;
    text-transform: uppercase;
    color: #777B92;
    letter-spacing: .1em;
    margin-top: 40px; }

/*
* 12.features styles
*/
.feature-style-one {
  padding-top: 170px;
  background: #FFFFFF url(../images/bg-curve-1-2.png) center top no-repeat;
  background-size: cover;
  margin-top: -90px; }
  .feature-style-one .container {
    padding-bottom: 120px; }
    .feature-style-one .container hr.style-one {
      margin-bottom: 130px; }
  .feature-style-one .image-block {
    margin-top: -50px;
    position: relative;
    right: -20px;
    animation: featureImgBounce 5s ease-in-out 0s infinite alternate; }
@keyframes featureImgBounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); } }
  .feature-style-one .content-block .block-title {
    margin-bottom: 50px; }
  .feature-style-one .content-block p {
    font-size: 24px;
    color: #777B92;
    line-height: 40px;
    margin: 0;
    margin-bottom: 46px; }
  .feature-style-one .content-block ul.feature-lists {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 54px; }
    .feature-style-one .content-block ul.feature-lists li {
      position: relative;
      color: #777B92;
      font-size: 18px;
      padding-left: 35px; }
      .feature-style-one .content-block ul.feature-lists li + li {
        margin-top: 10px; }
      .feature-style-one .content-block ul.feature-lists li i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        color: #E94FCA; }
  .feature-style-one .content-block .feature-btn {
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 15px 30px 0px rgba(119, 123, 146, 0.1);
    display: inline-block;
    vertical-align: middle;
    color: #777B92;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 42.5px;
    transition: all .4s ease; }
    .feature-style-one .content-block .feature-btn:hover {
      background-color: #E94FCA;
      color: #fff;
      border-color: #E94FCA; }

.feature-style-two {
  padding-top: 120px; }
  .feature-style-two .image-block {
    margin-top: -50px;
    position: relative;
    left: -50px;
    animation: featureImgBounce 5s ease-in-out 0s infinite alternate; }
    .feature-style-two .image-block:before, .feature-style-two .image-block:after {
      content: '';
      width: 318px;
      height: 318px;
      border-radius: 50%;
      border: 43px solid #FAFAFA;
      position: absolute; }
    .feature-style-two .image-block:before {
      top: 50px;
      left: 40px; }
    .feature-style-two .image-block:after {
      bottom: 50px;
      right: -10px; }
    .feature-style-two .image-block img {
      position: relative;
      z-index: 10; }
  .feature-style-two .content-block .block-title {
    margin-bottom: 50px; }
  .feature-style-two .content-block p {
    font-size: 24px;
    color: #777B92;
    line-height: 40px;
    margin: 0;
    margin-bottom: 46px; }
  .feature-style-two .content-block ul.feature-lists {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 54px; }
    .feature-style-two .content-block ul.feature-lists li {
      position: relative;
      color: #777B92;
      font-size: 18px;
      padding-left: 35px; }
      .feature-style-two .content-block ul.feature-lists li + li {
        margin-top: 10px; }
      .feature-style-two .content-block ul.feature-lists li i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        color: #E94FCA; }
  .feature-style-two .content-block .feature-btn {
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 15px 30px 0px rgba(119, 123, 146, 0.1);
    display: inline-block;
    vertical-align: middle;
    color: #777B92;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 42.5px;
    transition: all .4s ease; }
    .feature-style-two .content-block .feature-btn:hover {
      background-color: #E94FCA;
      color: #fff;
      border-color: #E94FCA; }

/*
* 13.services styles mei
*/
.services-style-one {
 background: rgb(255,255,255);
/* background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(232,243,247,1) 43%);*/
 background: #E8F3F7 url(../images/banner-bg-4-1.png) top right no-repeat; 
  position: relative;
  padding-top: 120px;
  padding-bottom: 350px; }
  .services-style-one:before {
    content: '';
    width: 100%;
    height: 251px;
    background: #fff url(../images/bg-curve-4-1.png) center center no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0; }
  .services-style-one .single-service-one {
    padding: 30px;
    padding-bottom: 50px;
    border-style: solid;
    border-width: 1px;
    border-top: 10px solid;
    border-color: #a8e8ff;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 15px 30px 0px rgba(255, 228, 228, 0.3);
    transition: all .4s ease;
    position: relative;
    overflow: hidden; }
    .services-style-one .single-service-one:before {
      content: '';
      width: 600px;
      height: 600px;
      border-radius: 50%;
      position: absolute;
      bottom: 25%;
      left: 50%;
      transform: translate(-50%, -100%);
      background-color: #2874A6; /*ini*/
      z-index: 8;
      transition: all .4s ease; }
    .services-style-one .single-service-one .hover-block:before, .services-style-one .single-service-one .hover-block:after {
      content: '';
      width: 600px;
      height: 600px;
      border-radius: 50%;
      position: absolute; }
    .services-style-one .single-service-one .hover-block:before {
      bottom: 65%;
      left: 50%;
      transform: translate(-50%, -100%);
      background-color: #2E86C1;
      z-index: 10;
      transition: all .4s ease; }
    .services-style-one .single-service-one .hover-block:after {
      background-color: #2E86C1;
      bottom: 45%;
      left: 50%;
      transform: translate(-50%, -100%);
      background-color: #2E86C1;
      z-index: 9;
      transition: all .4s ease; }
    .services-style-one .single-service-one i {
      font-size: 64px;
      color: #5CDA6B;
      transition: all .4s ease;
      position: relative;
      z-index: 10; }
    .services-style-one .single-service-one h3 {
      color: #777B92;
      font-size: 22px;
      line-height: 34px;
      margin: 0;
      margin-top: 17px;
      margin-bottom: 35px;
      transition: all .4s ease;
      position: relative;
      z-index: 10; }
    .services-style-one .single-service-one p {
      color: #777B92;
      font-size: 18px;
      line-height: 34px;
      margin: 0;
      margin-bottom: 23px;
      transition: all .4s ease;
      position: relative;
      z-index: 10; }
    .services-style-one .single-service-one .line-block {
      display: block;
      background-color: #5dda6c;
      width: 41px;
      height: 2px;
      margin-bottom: 20px;
      transition: all .4s ease;
      position: relative;
      z-index: 10; }
    .services-style-one .single-service-one a.more-link {
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase;
      color: #273167;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: .1em;
      line-height: 1em;
      transition: all .4s ease;
      position: relative;
      z-index: 10; }
    .services-style-one .single-service-one:hover {
      background-color: #3498DB;
      border-color: #3498DB; }
      .services-style-one .single-service-one:hover i,
      .services-style-one .single-service-one:hover h3,
      .services-style-one .single-service-one:hover p,
      .services-style-one .single-service-one:hover a.more-link {
        color: #fff; }
      .services-style-one .single-service-one:hover .line-block {
        background-color: #fff; }
      .services-style-one .single-service-one:hover:before {
        transform: translate(-50%, 0%);
        transition-delay: .2s; }
      .services-style-one .single-service-one:hover .hover-block:before {
        transform: translate(-50%, 0%);
        transition-delay: .1s; }
      .services-style-one .single-service-one:hover .hover-block:after {
        transform: translate(-50%, 0%); }
  .services-style-one [class*=col-]:nth-child(1) .single-service-one i {
    color: #5CDA6B; }
  .services-style-one [class*=col-]:nth-child(1) .single-service-one .line-block {
    background-color: #5CDA6B; }
  .services-style-one [class*=col-]:nth-child(1) .single-service-one:hover i {
    color: #fff; }
  .services-style-one [class*=col-]:nth-child(1) .single-service-one:hover .line-block {
    background-color: #fff; }
  .services-style-one [class*=col-]:nth-child(2) .single-service-one i {
    color: #d5e9f1; } /*ungu*/
  .services-style-one [class*=col-]:nth-child(2) .single-service-one .line-block {
    background-color: #AD63F3; } /*ungu*/
  .services-style-one [class*=col-]:nth-child(2) .single-service-one:hover i {
    color: #fff; }
  .services-style-one [class*=col-]:nth-child(2) .single-service-one:hover .line-block {
    background-color: #fff; }
  .services-style-one [class*=col-]:nth-child(3) .single-service-one i {
    color: #F0A734; } orange
  .services-style-one [class*=col-]:nth-child(3) .single-service-one .line-block {
    background-color: #F0A734; }
  .services-style-one [class*=col-]:nth-child(3) .single-service-one:hover i {
    color: #fff; }
  .services-style-one [class*=col-]:nth-child(3) .single-service-one:hover .line-block {
    background-color: #fff; }

/*
* 14.fun fact styles
*/
.fun-fact-style-one {
  padding-bottom: 100px; }
  .fun-fact-style-one .title-line {
    margin: 0;
    color: #777B92;
    letter-spacing: .2em;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 90px; }
  .fun-fact-style-one .single-funfact-one h3, .fun-fact-style-one .single-funfact-one p {
    margin: 0; }
  .fun-fact-style-one .single-funfact-one h3 {
    color: #273167;
    font-size: 60px;
    font-weight: 300;
    line-height: 1em; }
  .fun-fact-style-one .single-funfact-one p {
    font-size: 14px;
    color: #777B92;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    line-height: 1em;
    margin-top: 20px; }

/*
* 15.inner banner styles
*/
.inner-banner {
  background: #fff url(../images/inner-banner-1-1.png) center center no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 120px;
  padding-top: 255px; }
  .inner-banner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-45deg, #320b82 0%, #9c33c3 100%);
    opacity: .94; }
  .inner-banner .container {
    position: relative;
    text-align: center; }
  .inner-banner .thm-breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none; }
    .inner-banner .thm-breadcrumb li {
      display: inline-block;
      vertical-align: middle; }
      .inner-banner .thm-breadcrumb li a, .inner-banner .thm-breadcrumb li span {
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        color: #FCFBFE;
        font-size: 14px;
        letter-spacing: .2em;
        line-height: 1em; }
      .inner-banner .thm-breadcrumb li span.sep {
        margin-left: 10px;
        margin-right: 10px; }
  .inner-banner h2 {
    color: #fff;
    margin: 0;
    font-size: 46px;
    font-weight: 400;
    margin-top: 5px; }

/*
* 16.sidebar styles
*/
.sidebar .single-sidebar:not(.search-widget) {
  border-style: solid;
  border-width: 1px;
  border-color: #eaeaea;
  border-radius: 4px;
  padding: 50px; }
.sidebar .single-sidebar + .single-sidebar {
  margin-top: 30px; }
.sidebar .single-sidebar .widget-title {
  margin-bottom: 30px; }
  .sidebar .single-sidebar .widget-title h3 {
    margin: 0;
    font-size: 20px;
    color: #999999;
    font-weight: 400; }
.sidebar .single-sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none; }
.sidebar .single-sidebar .widget-single-post {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .sidebar .single-sidebar .widget-single-post + .widget-single-post {
    margin-top: 30px; }
  .sidebar .single-sidebar .widget-single-post .image-block .inner-block {
    width: 60px;
    overflow: hidden;
    border-radius: 50%; }
    .sidebar .single-sidebar .widget-single-post .image-block .inner-block > img {
      width: 100%; }
  .sidebar .single-sidebar .widget-single-post .text-block {
    padding-left: 20px; }
    .sidebar .single-sidebar .widget-single-post .text-block h3 {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400; }
      .sidebar .single-sidebar .widget-single-post .text-block h3 a {
        color: #777B92;
        transition: all .4s ease; }
        .sidebar .single-sidebar .widget-single-post .text-block h3 a:hover {
          color: #E94FCA; }
.sidebar .single-sidebar .links-list {
  margin-top: -10px; }
  .sidebar .single-sidebar .links-list li + li {
    margin-top: 15px; }
  .sidebar .single-sidebar .links-list li a {
    color: #777B92;
    font-size: 16px;
    font-weight: 400;
    transition: all .4s ease;
    position: relative;
    display: inline-block; }
    .sidebar .single-sidebar .links-list li a:before {
      content: '\f101';
      font-family: 'Futura Md BT', sans-serif;
      color: #e94fca;
      font-size: 14px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) translateX(-15px);
      opacity: 0;
      transition: all .4s ease; }
    .sidebar .single-sidebar .links-list li a:hover {
      color: #e94fca;
      transform: translateX(20px); }
      .sidebar .single-sidebar .links-list li a:hover:before {
        opacity: 1; }
.sidebar .single-sidebar .tag-list-wrapper {
  margin-top: -10px; }
  .sidebar .single-sidebar .tag-list-wrapper a {
    font-size: 16px;
    color: #777B92;
    transition: all .4s ease; }
    .sidebar .single-sidebar .tag-list-wrapper a:hover {
      color: #E94FCA; }
.sidebar .single-sidebar .search-form {
  width: 100%;
  position: relative;
  height: 84px;
  border-radius: 4px;
  overflow: hidden; }
  .sidebar .single-sidebar .search-form input {
    border: none;
    outline: none;
    background-color: #E94FCA;
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    padding-left: 50px;
    position: absolute;
    top: 0;
    left: 0; }
    .sidebar .single-sidebar .search-form input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #fff; }
    .sidebar .single-sidebar .search-form input::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff; }
    .sidebar .single-sidebar .search-form input:-ms-input-placeholder {
      /* IE 10+ */
      color: #fff; }
    .sidebar .single-sidebar .search-form input:-moz-placeholder {
      /* Firefox 18- */
      color: #fff; }
  .sidebar .single-sidebar .search-form button[type=submit] {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    font-size: 16px; }
